.divImg{
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
.Card{
    width: 300px;
    padding: 10px;
    height:   100% !important;
    overflow: hidden;

}
.CardButton{
    width: 250px;
    height: 40px;
}
.div{
    width: 150px;
    height: 70px;
    transform: rotate(-45deg);
    background: green;
    margin-left: -60px ;
    margin-top: -20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    color: white;
}